<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <h6>Hello {{student.firstName}} {{student.lastName}}</h6>
        <h2>Edit your Information</h2>
      </div>
    </div>
  </div>
</section>
<section class="meetings-page" id="meetings">
  <div class="container">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-4">
          <div class="card h-100">
            <div class="card-body">
              <img src="{{student.avatar}}" class="rounded-circle" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card h-100">
            <div class="card-body">
              <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Your Username</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Old Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>

                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">New Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>  

                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Again New Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>  

                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>

              </form>
            </div>
            <div class="card-footer">
              <div class="d-grid gap-2 col-3 mx-auto">
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
          </div>
        </div>
        


      </div>
    </div>
  </div>


  </div>
  </div>
</section>