<section class="meetings-page" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="meeting-single-item">
                            <div class="thumb">
                                <div class="price">
                                    <span>$14.00</span>
                                </div>
                                <div class="date">
                                    <h6>Nov <span>12</span></h6>
                                </div>
                                <a href="meeting-details.html"><img src="assets/images/course_detail.jpg" alt=""></a>
                            </div>
                            <div class="down-content">
                                <a href="meeting-details.html">
                                    <h4>Learn the basics of web development</h4>
                                </a>
                                <p> 282/4A Bùi Hữu Nghĩa, P2, Q Bình Thạnh</p>
                                <p class="description">
                                    On this course from the Raspberry Pi Foundation, you’ll first build a website using
                                    HTML, style it with CSS, and then make it interactive using JavaScript.

                                    Along the way you’ll learn about the box model, which describes how websites are
                                    laid out by browsers, and about the Document Object Model, which your JavaScript
                                    code will interact with to dynamically change your web pages.

                                    In the final week, you’ll design and create a quiz web page and demonstrate your new
                                    skills by making your own website.
                                </p>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="hours">
                                            <h5>Hours</h5>
                                            <p>Monday: 07:00 AM - 9:00 PM<br>Saturday: 07:00 AM -
                                                09:00 PM</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="location">
                                            <h5>Location</h5>
                                            <p>Ho Chi Minh city,
                                                <br>HCM city - RJ, 22795-008, Vietnam
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="book now">
                                            <h5>Book Now</h5>
                                            <p>010-020-0340<br>090-080-0760</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="share">
                                            <h5>Share:</h5>
                                            <ul>
                                                <li><a href="#">Facebook</a>,</li>
                                                <li><a href="#">Twitter</a>,</li>
                                                <li><a href="#">Linkedin</a>,</li>
                                                <li><a href="#">Behance</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="main-button-red">
                            <a href="courses">Back To Courses List</a>
                        </div>
                        <div class="col-lg-12">
                            <div class="main-button-red">
                                <a href="payment">Pay</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

</section>