<!-- Additional CSS Files -->
<link rel="stylesheet" href="assets/css/fontawesome.css">
<link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
<link rel="stylesheet" href="assets/css/owl.css">
<link rel="stylesheet" href="assets/css/lightbox.css">
<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Here are our course</h2>
      </div>
    </div>
  </div>
</section>
<section class="our-courses" id="courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Our Popular Courses</h2>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="owl-courses-item owl-carousel">
          <div class="item">
            <a href="course_details"><img src="assets/images/course-01.jpg" alt="Course One"></a>
            
            <div class="down-content">
             
                <a href="course_details"><h4>Information Math - Learn Today</h4>></a>
                
              <div class="info">
                <div class="row">
                  <div class="col-8">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <span>$160</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <a href="course_details"><img src="assets/images/course-01.jpg" alt="Course One"></a>
            
            <div class="down-content">
             
                <a href="course_details"><h4>The Complete Website Development Bootcamp</h4></a>
              
              <div class="info">
                <div class="row">
                  <div class="col-8">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <span>$180</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <a href="course_details"><img src="assets/images/course-01.jpg" alt="Course One"></a>
            
            <div class="down-content">
             
                <a href="course_details"> <h4>Learn Information Math - Ultimate Course (2021)</h4></a>
             
              <div class="info">
                <div class="row">
                  <div class="col-8">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <span>$140</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <a href="course_details"><img src="assets/images/course-01.jpg" alt="Course One"></a>
            
            <div class="down-content">
             
                <a href="course_details"> <h4>Information Math For Absolute Beginners - Hands On</h4></a>
              
              <div class="info">
                <div class="row">
                  <div class="col-8">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <span>$120</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <a href="course_details"><img src="assets/images/course-01.jpg" alt="Course One"></a>
            
            <div class="down-content">
             
                <a href="course_details"><h4>Mastering Information Math In 2021</h4></a>
              
              <div class="info">
                <div class="row">
                  <div class="col-8">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <span>$250</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
             <a href="course_details"><img src="assets/images/course-02.jpg" alt=""></a>
            <div class="down-content">
               <a href="course_details"><h4>Information Math Masterclass: Beginners To Advanced</h4></a>
              <div class="info">
                <div class="row">
                  <div class="col-8">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <span>$270</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
             <a href="course_details"><img src="assets/images/course-03.jpg" alt=""></a>
            <div class="down-content">
               <a href="course_details"><h4>Information Math Training</h4></a>
              <div class="info">
                <div class="row">
                  <div class="col-8">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <span>$340</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <a href="course_details"><img src="assets/images/course-04.jpg" alt=""></a>
            <div class="down-content">
               <a href="course_details"><h4>Intro To Information Math Fundamentals</h4></a>
              <div class="info">
                <div class="row">
                  <div class="col-8">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <span>$360</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
             <a href="course_details"><img src="assets/images/course-01.jpg" alt=""></a>
            <div class="down-content">
               <a href="course_details"><h4>Learn Information Math And Level Up Your Career</h4></a>
              <div class="info">
                <div class="row">
                  <div class="col-8">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <span>$400</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
             <a href="course_details"><img src="assets/images/course-02.jpg" alt=""></a>
            <div class="down-content">
               <a href="course_details"><h4>Information Math - The Complete Course</h4></a>
              <div class="info">
                <div class="row">
                  <div class="col-8">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <span>$430</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
             <a href="course_details"><img src="assets/images/course-03.jpg" alt=""></a>
            <div class="down-content">
               <a href="course_details"><h4>Information Math - The Complete Course</h4></a>
              <div class="info">
                <div class="row">
                  <div class="col-8">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <span>$480</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
             <a href="course_details"><img src="assets/images/course-04.jpg" alt=""></a>
            <div class="down-content">
               <a href="course_details"><h4>Foundation MasterClass: Information Math For Beginners</h4></a>
              <div class="info">
                <div class="row">
                  <div class="col-8">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <span>$560</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="our-courses">


  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>All Of Our Courses</h2>
        </div>
      </div>
      <div class="row">

        <div class="col">
          <div class="meeting-item">
            <div class="thumb">
              <div class="price">
                <span>$150.00</span>
              </div>
              <a href="course_details"><img src="assets/images/course-01.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <div class="date">
                <h6>Nov <span>12</span></h6>
              </div>
              <a href="course_details">
                <h4>Mastering Information Math</h4>
              </a>
              <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="meeting-item">
            <div class="thumb">
              <div class="price">
                <span>$400.00</span>
              </div>
              <a href="course_details"><img src="assets/images/course-02.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <div class="date">
                <h6>Nov <span>12</span></h6>
              </div>
              <a href="course_details">
                <h4>Information Math - Learn Today</h4>
              </a>
              <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="meeting-item">
            <div class="thumb">
              <div class="price">
                <span>$350.00</span>
              </div>
              <a href="course_details"><img src="assets/images/course-03.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <div class="date">
                <h6>Nov <span>12</span></h6>
              </div>
              <a href="course_details">
                <h4>The Website Developments</h4>
              </a>
              <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
            </div>
          </div>
        </div>

      </div>
      <div class="row">

        <div class="col">
          <div class="meeting-item">
            <div class="thumb">
              <div class="price">
                <span>$500.00</span>
              </div>
              <a href="course_details"><img src="assets/images/course-04.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <div class="date">
                <h6>Nov <span>12</span></h6>
              </div>
              <a href="course_details">
                <h4>Ultimate Course (2021)</h4>
              </a>
              <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="meeting-item">
            <div class="thumb">
              <div class="price">
                <span>$200.00</span>
              </div>
              <a href="course_details"><img src="assets/images/course-01.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <div class="date">
                <h6>Nov <span>12</span></h6>
              </div>
              <a href="course_details">
                <h4>Class for Absolute Beginners</h4>
              </a>
              <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="meeting-item">
            <div class="thumb">
              <div class="price">
                <span>$360.00</span>
              </div>
              <a href="course_details"><img src="assets/images/course-02.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <div class="date">
                <h6>Nov <span>12</span></h6>
              </div>
              <a href="course_details">
                <h4>Information Math Masterclass</h4>
              </a>
              <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
            </div>
          </div>
        </div>

      </div>
      <div class="row">

        <div class="col">
          <div class="meeting-item">
            <div class="thumb">
              <div class="price">
                <span>$144.00</span>
              </div>
              <a href="course_details"><img src="assets/images/course-03.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <div class="date">
                <h6>Nov <span>12</span></h6>
              </div>
              <a href="course_details">
                <h4>Information Math Training</h4>
              </a>
              <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="meeting-item">
            <div class="thumb">
              <div class="price">
                <span>$140.00</span>
              </div>
              <a href="course_details"><img src="assets/images/course-04.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <div class="date">
                <h6>Nov <span>12</span></h6>
              </div>
              <a href="course_details">
                <h4>Information Math Masterclass</h4>
              </a>
              <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="meeting-item">
            <div class="thumb">
              <div class="price">
                <span>$100.00</span>
              </div>
              <a href="course_details"><img src="assets/images/course-01.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <div class="date">
                <h6>Nov <span>12</span></h6>
              </div>
              <a href="course_details">
                <h4>Information Math Fundamentals</h4>
              </a>
              <p>Morbi in libero blandit lectus<br>cursus ullamcorper.</p>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="pagination">
            <ul>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </div>
        </div>

      </div>
</section>

